<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Dojodachi</title>
</head>
<body>
    <div id="top_nav">
        <h1>Dojodachi @ViewBag.name</h1>
    </div>

    <div>
        <p><b>Fullness:</b> @ViewBag.fullness  |  <b>Happiness:</b> @ViewBag.happiness  |
             <b>Meals:</b> @ViewBag.meals  |  <b>Energy:</b> @ViewBag.energy 
        </p>
        <img id="pika" src="~/images/pikachu.jpg" alt="Pikachu">
        <h4>@ViewBag.message</h4>
    </div>
    @if(ViewBag.over == null)
    {
        <a href="/feed"><button class="botones">Feed</button></a>
        <a href="/play"><button class="botones">Play</button></a>
        <a href="/work"><button class="botones">Work</button></a>
        <a href="/sleep"><button class="botones">Sleep</button></a>
    } else{
        <a href="/restart"><button class="botones">Restart</button></a>
    }
</body>
</html>