
<h2>Welcome @ViewBag.theUser.FirstName:</h2>
<p>@ViewBag.theUser.Email <a href="logout"><button>LogOut</button></a></p>
@foreach(var user in @ViewBag.allUsers)
{
    <div class="aUser">
        <h3>Name: @user["firstname"] @user["lastname"]</h3>
        <h4>Email: @user["email"]</h4>
        <p><b>Registered:</b> @user["created_at"]</p>
        <a href="delete/@user["email"]"><button>Delete</button></a>
        <hr>
    </div>
}